/** 사이트 공통 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
::-webkit-scrollbar {  width: 5px; height: 5px; }
::-webkit-scrollbar-thumb { background: #FFB98B; border-radius: 3px; }
* { box-sizing: border-box; outline: none; font-family: 'Nanum Gothic', sans-serif; }
html { font-size: 13px; color: #222; }
body { margin: 0; }
ul { list-style: none; margin: 0; padding: 0; }
li { display: block; }
dl { display: flex; width: 100%; margin: 0; align-items: center; }
dt { width: 130px;  }
dd { width: calc(100% - 130px); padding: 0; margin: 0; }
a { color:#222; text-decoration: none; }
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] { border: 1px solid #d5d5d5; height: 35px; width: 100%; padding: 0 20px; }
input[type="date"] { height: 35px; border: 1px solid #d5d5d5; padding: 0 20px; }
textarea { border: 1px solid #d5d5d5; width: 100%; resize: none; padding: 20px; min-height: 100px; }
select { height: 36px; border: 1px solid #d5d5d5; background: #fff; min-width: 128px; }

/** 기준 너비 */
.layout_width { max-width: 1300px; min-width: 1100px; margin: 0 auto; padding: 0 10px; }

input[type='checkbox'] { display: none; }
input[type='checkbox']+label { min-height: 32px; line-height: 1; padding: 8px 0 8px 33px; background: url("../../images/chk-off.png") no-repeat left center; }
input[type='checkbox']:checked+label { background: url("../../images/chk-on.png") no-repeat left center; }

input[type='radio'] { display: none; }
input[type='radio']+label { min-height: 24px; line-height: 1; padding: 3px 0 3px 25px; background: url("../../images/radio-off.png") no-repeat left center; }
input[type='radio']:checked+label { background: url("../../images/radio-on.png") no-repeat left center; }

input:read-only, textarea:read-only { background-color: #f8f8f8; }
select option:disabled { color: red; background-color: #f8f8f8; }

.dn { display: none !important; }

/** 기본 레이아웃 스타일 */
header { height: 80px; background: #fff; display: flex; align-items: center; }
header > .left { width: 208px; text-align: center; }
header > .right { flex-grow: 1; text-align: right; padding: 10px; }

aside li > a { display: block; height: 71px; line-height: 71px; border-top: 1px solid #FFB98B; color: #fff;
 font-size: 18px; text-align: center; position: relative; }
aside li > a * { color: #fff; font-size: 18px; }
aside li > a:hover,
aside li > a.on { background: #FF7E36; font-weight: bold; }
aside li > a:hover:after,
aside li > a.on:after { content: ''; display: block; position: absolute; width: 8px; height: 100%;
 right: 0; top: 0; background: #00d0d7; }

/** 기본 버튼 스타일 */
.sbtn { display: inline-block; border: 1px solid #FF7E36; color: #FF7E36; min-width: 90px; padding: 0 20px; height: 28px; line-height: 26px; text-align: center; border-radius: 5px; background: #fff; }
.sbtn.carrot { color: #fff; background: #FF7E36; }
.sbtn.carrot.member { color: #fff; background: #FF7E36; width: 100% }
.sbtn.carrot.mypage { color: #fff; background: #FF7E36; width: 100%; margin-top: 15px;}

.search_btn { text-align: center; margin: 20px 0 35px; }
.search_btn button { text-align: center; height: 45px; line-height: 45px; background: #fff; color: #FF7E36; padding: 0 30px; border: 1px solid #FF7E36; font-size: 16px; cursor:pointer; border-bottom-left-radius: 20px; border-top-right-radius: 20px; }
.search_btn button:hover { font-weight: bold; text-decoration: underline; }

.search_address { display: inline-block; border: 1px solid #FF7E36; color: #fff; background: #FF7E36; min-width: 90px; padding: 0 20px; height: 23px; line-height: 23px; text-align: center; border-radius: 5px; margin-bottom: 10px; }

/** 에러 메세지 스타일 */
.errors { box-shadow: 2px 2px 5px #36466d; padding: 5px 15px; background: #fff; font-size: 12px; border-radius: 3px; margin-top: 5px; color: #61729e; }

/** 폼 메뉴 */
.memberM { display: flex; justify-content: center; margin: 30px 0; }
.memberM div { margin: 15px 0; }

/** 마이페이지 */
.memberM dl { margin: 15px 0; }

/** 마이페이지 side */
.menu_slide { display: flex; align-items: center; flex-direction: column; position: absolute; width: 250px; height: 100%; left: -300px; transition: 0.3s; border: 1px solid #FF7E36; border-radius: 20px; padding: 5px; }
.menu_slide h1 { text-align: center; line-height: 80px; margin: 0; border-bottom: 1px solid #FF7E36;  }
.menu_slide .menu_list { width: 100%; padding: 30px 0; }
.menu_slide .menu_list .list_item {  font-weight: bold; margin-bottom: 30px; text-align: center; }
.menu_slide .menu_list .list_item > a { font-family: 'Single Day', cursive; font-size: 25px; }
.menu_slide .menu_list .list_item:last-child { margin-bottom: 0; }

/** header menuBar */
header { min-width: 1000px; max-width: 1400px; margin: 0 auto; }
.head_bar { background: #FFB98B; min-width: 1000px; border: 1px solid #FF7E36;  border-width: 1px 0;  align-items: center; }
.head_bar > .menu_bar { min-width: 1000px; height: 45px; margin: 0 auto; display:flex; justify-content: space-between;
 align-items: center; }
.head_bar > .menu_bar > .menu_bar_list { float: left; width: 1000px; height: 100%; align-items: center; }
.head_bar > .menu_bar > .menu_bar_list > li { position:relative; float: left; margin-left: 30px; height: 100%; display: inline-flex; align-items: center;  }
.menu_bar_list > li > a { display: block; position:relative; font-size: 15px; }
.menu_bar_list > li:hover > a ,
.menu_bar_list > li.on > a { font-weight: bold; }

.menu_bar_list .sub_list { background: #FFB98B; width: 0; overflow: hidden; transition: all 1s; opacity: 0; transition-timing-function: ease;
 position: absolute; top: 45px; z-index: 10; }
.menu_bar_list > li:hover .sub_list { min-width: 100px; width: auto; opacity: 1; transition: all 0.6s; transition-timing-function: ease; }
.menu_bar_list .sub_list li a { display: block; padding: 10px; border-bottom: 1px solid #f8f8f8; }

/** 기본 테이블 */
.table-cols { width: 100%; border-spacing: 0; padding: 0; border-top: 3px solid #222; margin-bottom: 20px; }
.table-cols th { background: #f8f8f8; width: 160px; padding: 10px 20px; text-align: left; }
.table-cols td { background: #fff; padding: 10px 15px; }
.table-cols th,
.table-cols td { border-bottom: 1px solid #d5d5d5; }

.table-rows { width: 100%; border-spacing: 0; padding: 0; }
.table-rows th { background: #7a7c89; color: #fff; border-top: 1px solid #d5d5d5; padding: 12px 10px; }
.table-rows td { padding: 15px 10px; text-align: center; }
.table-rows th, .table-rows td { border-bottom: 1px solid #d5d5d5; border-right: 1px solid #d5d5d5; }
.table-rows th:first-of-type, .table-rows td: first-of-type { border-left: 1px solid #d5d5d5; }

.table-action { padding: 10px 0; border-bottom: 1px solid #d5d5d5; }

/** 페이징 공통 */
.pagination { text-align: center;  }
.pagination li { display: inline-block; }
.pagination a { font-size: 12px; border: 1px solid #dbdbdb; color: #363636; display: block; padding: 5px 10px; }
.pagination li.on a { background-color: #FF7E36; border-color: #FF7E36; color: #fff; }

/** 메인 프론트 */
.main_inner { position: relative; margin: 0 auto; max-width: 1450px; }
.container { min-width: 1000px; max-width: 1140px; margin: 20px auto 0; display: flex; }
.left_content {  flex-grow:1;  margin-right: 50px; padding-left: 10px; }
.right_content { width: 300px; padding: 30px 10px 0 0; }
.login_box { position: relative; width: 270px; margin-bottom: 15px; border: 1px solid #FFB98B; background: #fff;}
.user_info { padding: 10px 18px; line-height: 44px; font-size: 14px; color: #FFB98B; }
.user_info > a { color: #FF7E36; font-weight: bold; }
.user_option { height: 36px; line-height: 36px; background: #f3f3f3; text-align: center; clear: both; }

footer { clear: both; position: relative; padding-bottom: 50px; background: #fff;}

/** 메인 탑 */
.home_top { display: flex; flex-flow: row wrap; justify-content: space-between; }
.top_list { margin-top: 10px; width: 100%; display: flex; flex-flow: row wrap; justify-content: space-between; }
.today_issue, .view_split { width: 385px; }
.issue_list { width: 100%; padding: 8px 12px 8px 17px; border-top: 2px solid #639cea; border-bottom: 2px solid #d1d2d4;
 box-sizing: border-box; display: flex; flex-flow: row wrap; align-items: center; }
.issue_list > li { margin-right: 30px; text-align: center; font-family: 'Single Day', cursive; font-size: 20px;
 font-weight: bold; color: #e52f2f; }
.issue_content_area, .view_list_content_area { display: block !important;}
.issue_content, view_list_content { padding: 0 1px; }
.issue_hot > li { border-bottom: 1px solid #e1e1e1; background-color: #fdf0f0; }
.issue_recom > li { border-bottom: 1px solid #e1e1e1; background-color: #f0f4fa; }
.issue_contenst_list > li,
.view_list_subject { position: relative; height: 30px; padding-left: 15px; border-bottom: 1px dotted #b1b1b1;
 display: flex; flex-flow: row wrap; align-items: center; }

.top_list a:hover,
 .best_list > li a:hover { color: #1265E2; text-decoration: underline; }

.issue_hot li, .issue_recom li, .issue_content_list li { position: relative; height: 30px; padding-left: 15px;
border-bottom: 1px dotted #b1b1b1; display: flex; flex-flow: row wrap; align-items: center; }

.issue_content > ul > li > a { width: auto; max-width: 325px; display: inline-block; color: #4e4c4c; font-size: 13px;
 font-weight: bold; text-decoration: none; vertical-align: middle; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.issue_content > ul > li > a,
.view_list_subject a { width: auto; max-width: 325px; display: inline-block; color: #4e4c4c; font-size: 13px;
 font-weight: bold; text-decoration: none; vertical-align: middle; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.view_list_title { height: 45px; font-size: 14px; letter-spacing: -0.05em; display: flex; flex-flow: row wrap; justify-content: space-between;
 align-items: center; border-bottom: 2px solid #d1d2d4; border-top: 2px solid #639cea; padding: 0 13px; box-sizing: border-box; }

.view_list_title > h2 { font-family: 'Single Day', cursive; font-size: 19px; line-height: 10px; color: #639cea; }

.time_best { margin-top: 30px; }
.con_head { overflow: hidden; height: 31px; line-height: 20px; border-bottom: 2px solid #FF7E36; padding-top: 1px; }
.con_font { font-size: 16px; color: #29367c; font-weight: bold; padding-bottom: 5px; }

.best_list { margin: 0; margin-top: 2px; padding-bottom: 2px; border-bottom: 1px #FFB98B solid; }

.best_list > li:first-child { border-top: none; }
.best_list > li { position: relative; float: none; border-top: 1px #e4e4e4 solid; padding: 2px 0; }
.best_list > li a { height: 25px; display: inline-block; max-width: 420px; font-size: 14px; font-weight: bold;
color: #333; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-left: 10px; line-height: 30px; }

/** post view */
.view_wrap { position: relative;width: 1435px; margin: 0 auto; }
#container_ { margin: 20px auto 0; width: 1160px; }
.view_head { height: 37px; margin-bottom: 3px; padding-top: 4px; border-bottom: 2px solid #FFB98B; }
.view_fr { float: left; }
.view_cate { font-size: 24px; max-width: 416px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
 color: #29367c; }
.post_top { margin: 16px 0 29px; padding-bottom: 11px; border-bottom: 1px solid #eee; }
.post_subject { padding: 0 2px; margin-bottom: 7px; font-size: 14px; }
.post_info { padding: 0 2px; }
.post_info_l { float: left; }
.post_info_r { float: right; padding-right: 7px; }